.rdw-editor-toolbar {
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
    border-radius: 10px 10px 0 0 !important;
    margin-bottom: 0 !important;
}

.rdw-editor-main {
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
    border-radius: 0 0 10px 10px !important;
    min-height: 150px;
}
